html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  margin: 0;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#side-pane {
  flex: 0 0 200px;
  overflow: auto;
}

#library {
  user-select: none;
}

#library li {
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 1px;
}

#library li.selected {
  background-color: #e9e9e9;
}

#main-pane {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

#tool-bar {
  flex: 0 0 auto;
}

#editor {
  flex: 1 1 auto;
  padding: 12px;
}

#editor * {
  outline: none;
}

#editor .placeholder {
  color: #d1d1d1;
}

#editor p {
  height: 24px;
  width: 100%;
}

ul.hierarchical li {
  list-style: none;
}

ul.hierarchical {
  padding-left: 25px;
}

ul.hierarchical>* {
  position: relative;
}

ul.hierarchical>*::before {
  content: "";
  position: absolute;
  left: -16px;
  height: calc(100% + 4px);
  border-left: 1px solid #bdbdbd;
}

ul.hierarchical>li:last-of-type:before {
  height: 50%;
}

ul.hierarchical>ul:last-child::before {
  border-left: none;
}

ul.hierarchical>li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -16px;
  width: 10px;
  border-bottom: 1px solid #bdbdbd;
}