body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#library {
  flex: 0 0 200px;
}

#editor{
  flex: 1 1 auto;
  overflow: auto;
}

#note {
  max-width: 800px;
  border: 1px solid rgb(192, 192, 192);
  background: #fff;
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.1));
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  font-family: serif;
}

#note-content {
  padding: 20px;
}

#note-content p {
  outline: none;
  margin: 0;
}

#tools {
  width: fit-content;
  margin: 0 auto;
}

.math {
  height: 1em;
}

#note pre {
  margin: 0;
  min-height: 1em;
}

#note blockquote {
  margin: 0;
  padding-left: 24px;
  border-left: 3px solid #000;
}

#note img {
  display: block;
  max-width: 100%;
}

#note code {
  outline: none;
  font-size: 14px !important;
}

.library-item {
  box-sizing: border-box;
  cursor: default;
  user-select: none;
  padding: 2px 8px;
  width: 100%;
}

.library-item.selected {
  background-color: rgb(234, 234, 234);
  border-radius: 6px;
}